/* 
body {
    background-image: url('//images3.alphacoders.com/677/thumb-1920-677583.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    
} */

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
#answer {
  display: ;
}

#pokemon-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 5%; */
    padding-right: 40%;
}

#pokeball {
    width: 200px;
    height: 200px;
    padding-top: 22%;
    animation: wiggle 1.38s infinite;
}
@keyframes wiggle {
    0% { transform: rotate(0deg); }
    80% { transform: rotate(0deg); }
    85% { transform: rotate(6deg); }
    95% { transform: rotate(-6deg); }
    100% { transform: rotate(0deg); }
}
#controls {
    display: flex;
    align-items: center;
    padding-top: 10%;
    
}
#play-button {
    height: 100px;
    width: 250px;
    background-image: url(../playButton.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    background-size: 170px;

}

#play-button:hover {
    cursor: pointer;
    
}

#audio {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
}

